<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/   css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <meta charset="utf-8">
        <title>Control de incidentes</title>
    </head>
    <body>
