<nav id='sidebar' class="sidebar">

    <a class="links" href="/"><span class="popup"></span> <img class="sidebar-opc" src="/icons/menu.svg" alt="welcome icon"></a>

    <a class="links" href="/report"><span class="popup"></span> <img class="sidebar-opc" src="/icons/checklist.svg" alt="report icon"></a>

    <a class="links" href="/dashboard"><span class="popup"></span><img class="sidebar-opc" src="/icons/dashboard.svg" alt="dashboard icon"></a>

    <!-- <a class="links" href="/settings"><span class="popup"></span><img class="sidebar-opc" src="/icons/settings.svg" alt="settings icon"></a> -->

    <a class="links" href="/teacher"><span class="popup"></span><img class="sidebar-opc" src="/icons/add-user.svg" alt="teacher icon"></a>

    <a class="links" href="/subject"><span class="popup"></span><img class="sidebar-opc" src="/icons/subject.png" alt="subject icon"></a>

    <a class="links" href="/auth/logout"><span class="popup"></span><img class="sidebar-opc" src="/icons/cerrar-sesion.svg" alt="logout icon"></a>

</nav>
